<div>
	<h3>Team Absence Calendar</h3>

	<div class="controller">
		<button><span class="arrow">Prev Month</span></button>
		<div class="title">January</div>
		<button><span class="arrow">Next Month</span></button>
	</div>

	<ul class="display">
		<li class="day">
			<div class="number">1</div>
		</li>

		<li class="day">
			<div class="number">2</div>
			<div class="absent-user">
				2 <i class="fa fa-user"></i>
			</div>
		</li>

		<li class="day">
			<div class="number">3</div>
		</li>

		<li class="day">
			<div class="number">4</div>
			<div class="absent-user">
				3 <i class="fa fa-user"></i>
			</div>
		</li>

		<li class="day">
			<div class="number">5</div>
		</li>

		<li class="day">
			<div class="number">6</div>
		</li>

		<li class="day">
			<div class="number">7</div>
		</li>

		<li class="day">
			<div class="number">8</div>
		</li>

		<li class="day">
			<div class="number">9</div>
		</li>

		<li class="day">
			<div class="number">10</div>
		</li>

		<li class="day">
			<div class="number">11</div>
		</li>

		<li class="day">
			<div class="number">12</div>
		</li>

		<li class="day">
			<div class="number">13</div>
		</li>

		<li class="day">
			<div class="number">14</div>
		</li>

		<li class="day">
			<div class="number">15</div>
		</li>

		<li class="day">
			<div class="number">16</div>
		</li>

		<li class="day">
			<div class="number">17</div>
		</li>

		<li class="day">
			<div class="number">18</div>
		</li>

		<li class="day">
			<div class="number">19</div>
		</li>

		<li class="day">
			<div class="number">20</div>
		</li>

		<li class="day">
			<div class="number">22</div>
		</li>

		<li class="day">
			<div class="number">23</div>
		</li>

		<li class="day">
			<div class="number">24</div>
		</li>

		<li class="day">
			<div class="number">25</div>
		</li>

		<li class="day">
			<div class="number">26</div>
		</li>

		<li class="day">
			<div class="number">27</div>
		</li>

		<li class="day">
			<div class="number">28</div>
		</li>

		<li class="day">
			<div class="number">29</div>
		</li>

		<li class="day">
			<div class="number">30</div>
		</li>

		<li class="day">
			<div class="number">31</div>
		</li>
	</ul>
</div>