<div>
	<div class="controller">
		<button><span class="arrow">Prev Month</span></button>
		<div class="title">January</div>
		<button><span class="arrow">Next Month</span></button>
	</div>

	<ul class="display clear">
		<li class="day" 
			ng-repeat="day in MonthData" 
			ng-class="{
				'active-am' : day.am.length,
				'active-pm' : day.pm.length
			}">

			<div class="am" ng-class="{
				'active-am' : day.am,
				'active-pm' : day.pm
			}"></div> <!-- <div class="am user-absence"> -->
			<div class="pm"></div> <!-- <div class="pm others-absence"></div> -->

			<div class="number">{{ day.number }}</div>
			<div class="absent-user-number">
				{{ day.user.length }} <i class="fa fa-user"></i>
			</div>

			<absence-input name="tooltip" class="tooltip"></absence-input>
		</li>

		<!--
		<li class="day active-am active-pm">
			<div class="am user-absence"></div>
			<div class="pm others-absence"></div>

			<div class="number">1</div>
			<div class="absent-user-number">
				2 <i class="fa fa-user"></i>
			</div>

			<absence-input name="tooltip" class="tooltip"></absence-input>
		</li>

		<li class="day selection-absence">
			<div class="am"></div>
			<div class="pm"></div>

			<div class="number">2</div>
			<div class="absent-user-number">
				0 <i class="fa fa-user"></i>
			</div>
		</li>

		<li class="day">
			<div class="am"></div>
			<div class="pm"></div>

			<div class="number">3</div>
			<div class="absent-user-number">
				0 <i class="fa fa-user"></i>
			</div>
		</li>

		<li class="day">
			<div class="am"></div>
			<div class="pm"></div>

			<div class="number">4</div>
			<div class="absent-user-number">
				0 <i class="fa fa-user"></i>
			</div>
		</li>

		<li class="day">
			<div class="am"></div>
			<div class="pm"></div>

			<div class="number">5</div>
			<div class="absent-user-number">
				0 <i class="fa fa-user"></i>
			</div>
		</li>

		<li class="day">
			<div class="am"></div>
			<div class="pm"></div>

			<div class="number">6</div>
			<div class="absent-user-number">
				0 <i class="fa fa-user"></i>
			</div>
		</li>

		<li class="day">
			<div class="am"></div>
			<div class="pm"></div>

			<div class="number">7</div>
			<div class="absent-user-number">
				0 <i class="fa fa-user"></i>
			</div>
		</li>
		-->
	</ul>

	<ul class="legend">
		<li>
			<i class="dot"></i> No absence
		</li>

		<!-- user hover -->
		<!-- user selection -->

		<li class="user-absence">
			<i class="dot"></i> User absence
		</li>

		<li class="others-absence">
			<i class="dot"></i> Others absence
		</li>
	</ul>
</div>