<div class="container">
	<div class="row">
		<div class="col-md-12">
			<div id="absence-input">
				<h1>Insert your absence period:</h1>

				<absence-input name="page"></absence-input>
			</div>
		</div>
	</div>

	<div class="row"> 
		<div class="col-md-7">
			<div id="calendar">
				<h3>Team Absence Calendar</h3>

				<calendar-absence-density></calendar-absence-density>
			</div>
			<div id="users-records">
				<h3>View User Absences</h3>

				<users-records></users-records>
			</div>
		</div>

		<div class="col-md-5">
			<div id="chart">
				<h3>Team density absence</h3>

				<chart-absence-density></chart-absence-density>
			</div>
		</div> 
	</div>
</div>