<div>
	<h1>Insert your absence period:</h1>

	<form action="">
		<label for="from" class="dateTo">
			<span class="label">From</span>
			<input type="text" placeholder="DD/MM/YYYY" autofocus>
			<select class="unit">
				<option>AM</option>
				<option>PM</option>
			</select>
		</label>

		<label for="to" class="dateFrom">
			<span class="label">To</span>
			<input type="text" placeholder="DD/MM/YYYY">
			<select class="unit">
				<option>AM</option>
				<option>PM</option>
			</select>
		</label>

		<div class="saveDate">
			<button class="btn btn-primary btn-lg btn-block">Request</button>
			<!--<p class="bg-warning">Absenteeism is within 4 days of another user</p>
			<p class="bg-warning">Absenteeism is adjacent to another user</p>
			<p class="bg-danger">Absenteeism overlaps with another user</p>-->
		</div>
	</form>
</div>