#calendar {
	/* status color */
	@user-selection-color: #F3B353;
	@user-absence-color: #E8C48E;
	@others-absence-color: #cacccd;

	margin-bottom: 40px;
	overflow: auto;

	.display {
		@calendar-border-color: #E2E2E2;

		padding: 0;
		border-top: 1px solid @calendar-border-color;
		border-left: 1px solid @calendar-border-color;
		margin-bottom: 20px;
		overflow: auto;

		.day {
			float: left;
			position: relative;
			width: 20%;
			height: 72px;
			border-right: 1px solid @calendar-border-color;
			border-bottom: 1px solid @calendar-border-color;
			list-style-type: none;
			background-color: white;

			.am {
				position: absolute;
				top:0;
				left:0;
				width: 50%;
				height: 100%;
				cursor: pointer;
			}
			
			.pm {
				position: absolute;
				top:0;
				right:0;
				width: 50%;
				height: 100%;
				cursor: pointer;
			}

			.number {
				position: absolute;
				top: 0;
				left: 0;
				padding: 5px 0 0 5px;
				color: #929292;
				z-index: 1;
			}
			&.active-am .number { color: white; }

			.absent-user-number {
				position: absolute;
				right: 5px;
				bottom: 0;
				display: none;
				z-index: 1;
			}
			&.active-am .absent-user-number,
			&.active-pm .absent-user-number {
				display: block;
			}

			&.selection-absence {
				background-color: @user-selection-color;
				.number { color: white; }

				.am {
					background-color: @user-selection-color;
				}
				.pm {
					background-color: @user-selection-color;
				}
			}

			&:hover {
				background-color: @user-selection-color;
				.number { color: white; }
				
				.am {
					background-color: @user-selection-color;
				}
				.pm {
					background-color: @user-selection-color;
				}
			}
		}

		.am.user-absence,
		.pm.user-absence {
			background-color: @user-absence-color;
		}
		
		.am.others-absence,
		.pm.others-absence {
			background-color: @others-absence-color;
		}
	}

	.legend {
		padding: 0;
		margin: 0;

		li {
			list-style-type: none;

			.dot {
				display: inline-block;
				user-select: none;
				border-radius: 50%;
				height: 10px;
				width: 10px;
				border: 1px solid #cacccd;
				background-color: white;
			}
		}
		.user-absence {
			.dot {
				border:0;
				background-color: @user-absence-color;
			}
		}

		.others-absence {
			.dot {
				border:0;
				background-color: @others-absence-color;
			}
		}
	}

	.tooltip {
		position: absolute;
		top: 0;
		left: 0;
	}
}