@charset "UTF-8";

/* main.css */

/* pseudo elements styles */
:focus {
	outline: none;
}

::selection { 
	color: white;
	background-color: rgba(51, 122, 183, 0.8);; 
}

/* elements styles */
body {
  background-color: #58544E;
}

a {
	color: black;
	-webkit-transition: color .2s;
	transition: color .2s;

	&:hover {
		color: #337ab7;
		text-decoration: none;
	}
}

/* class styles */
#header {
	background-image: linear-gradient(to bottom, #FFFFFF 0%, #E6E6E6 100%);
	
	.brand {
		float: left;
		display: block;
		padding: 14px 0;
		font-size: 16px;
		font-weight: bold;
	}

	#account { 
		float: right;
		padding: 14px 0;
	}
}

#body {
	background-color: white;

	.container {
		padding: 20px;
	}
}

#footer {
	color: white;
	
	.container {
		padding: 20px;
	}
}

/* Responsive */
@media (min-width: 992px) {
	
}