<div class="container login">
    <p>You can type every username and password, everything will work. You will log in as</p>
    <p>{ name: <strong>'Matthew Webb'</strong>, id : '1' }</p>

    <form name="loginForm" ng-controller="LoginController" ng-submit="login(credentials)" novalidate>
        <label>
        	<span class="text-label">Username:</span>
            <input type="text" ng-model="credentials.username">
        </label>

        <label for="password">
            <span class="text-label">Password:</span>
            <input type="password" ng-model="credentials.password">
        </label>
        
        <button type="submit" class="btn btn-primary btn-lg btn-block">Login</button>
    </form>
</div>
